body{
    background-color: black;
}

h1{
    position: absolute;
    font-size: 6.5em;
    font-family: 'Space Mono', monospace;
    color: white;
    top: 100px;
    left: 257px;
    margin-top: 0px;
}
h1.name{
    position: absolute;
    text-align: center;
    font-size: 6.5em;
    font-family: 'Space Mono', monospace;
    color: white;
    top: 100px;
    left: 760px;
    margin-top: 0px;
}    

h2{
    font-family: 'Space Mono', monospace;
    color: white;
    position: absolute;
    top: 7px;
    left: 110px;
}


@media only screen and (max-width:300px) {
    .slogo{
        width: 70px;
        height: auto;
    }
    h2{
        font-family: 'Space Mono', monospace;
        color: white;
        position: absolute;
        font-size: 1.0em;
        top: 6px;
        left: 70px;
    }

    h1{
        position: absolute;
        font-size: 1.5em;
        font-family: 'Space Mono', monospace;
        color: white;
        top: 70px;
        left: 50px;
        margin-top: 0px;
    }

    h1.name{
        position: absolute;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Space Mono', monospace;
        color: white;
        top: 70px;
        left: 165px;
        margin-top: 0px;
    }  
}